.top_panel {
    text-align: center;
    /* background-color: darkgreen; */
    margin-top: 17px;
}

.image {
    width: 115px;
    height: 100px;
}

.head_title {
    margin-top: 22px;
    /* font-family: 'Oswald'; */
}

.bs-example {
    margin: 50px;
}

p {
    font-style: italic;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align: center;
}


/* indicator position */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}


/* indicator color */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}


/* active indicator */

#quote-carousel .carousel-indicators .active {
    background: #333333;
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
}


/* typography */

h1 {
    text-align: center;
    margin-bottom: -20px !important;
}

p {
    font-style: italic;
}

.back {
    background-image: url("../assets/helping.jpg");
}

.about {
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
}

.hello {
    margin-top: 28px;
}
